@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply font-primary bg-primary text-white leading-loose;
    }
    .h1 {
        @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
    }
    .h2 {
        @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
    }
    .h3 {
        @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
    }

    .text-outline {
        -webkit-text-stroke: 1px #ffffff;
    }
    
    .text-outline-hover {
        -webkit-text-stroke: 1px #00ff99;
    }

    /* Scrollbar styles for WebKit browsers */
    .scrollbar-custom::-webkit-scrollbar {
        width: 6px;
    }
  
    .scrollbar-custom::-webkit-scrollbar-thumb {
        background-color: #10b981; /* green */
        border-radius: 6px;
    }
  
    .scrollbar-custom::-webkit-scrollbar-track {
        background: transparent;
  }
}
